{% extends "base.html" %}

{% block title %}
    Home Page
{% endblock %}

{% block content %}
    <section id="homepage">
        <section class="sols-temp-container">
            <section class="sols-temp">
                {% for sol, temp in sols.items() %}
                    <section class="card">
                        <section class="card-content-container">
                            <section class="card-content">
                                <section class="sol-picture"><img src="https://ichef.bbci.co.uk/news/976/cpsprodpb/9382/production/_120526773_whatsubject.jpg" id="card_mars_pic" alt="pic rocks on mars"/></section>
                                <section class="sol-literal">Sol: {{ sol }}</section>
                                <section class="temperature-literal">Avg Temp:{{temp}}</section>
                            </section>
                        </section>
                    </section>
                {% endfor %}
            </section>
        </section>
    </section>        
{% endblock %}